In [2]:
import mysql.connector as conn

In [ ]:
!pip install mysql-connector-python

In [4]:
db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
)
db

In [5]:
# create database
sql = "CREATE DATABASE student"
cursor = db.cursor()
cursor.execute(sql)
cursor.close()
db.close()

In [10]:
# create table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "CREATE TABLE student_info(id integer primary key auto_increment, name varchar(255), dept varchar(255))"
    cursor = db.cursor()
    cursor.execute(sql)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [11]:
# insert data into table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "INSERT INTO student_info(id, name, dept) VALUES(0, 'Abir', 'BBA')"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [12]:
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "INSERT INTO student_info(id, name, dept) VALUES(0, 'Zoha', 'CSE')"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)

In [13]:
# fetch the data
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "SELECT * FROM student_info"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(1, 'Abir', 'BBA')
(2, 'Zoha', 'CSE')

In [16]:
# update table
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "UPDATE student_info SET dept = 'IT' WHERE id = 1"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)
    
#     ===================
    
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "SELECT * FROM student_info"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(1, 'Abir', 'IT')
(2, 'Zoha', 'CSE')

In [17]:
# DELETE student
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "DELETE FROM student_info WHERE id = 1"
    cursor = db.cursor()
    cursor.execute(sql)
    db.commit()
    cursor.close()
    db.close()
except Exception as e:
    print(e)
    
    #     ===================
    
try:
    db = conn.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = 'student'
    )
    sql = "SELECT * FROM student_info"
    cursor = db.cursor()
    cursor.execute(sql)
    res = cursor.fetchall()
    for i in res:
        print(i)
    cursor.close()
    db.close()
except Exception as e:
    print(e)

(2, 'Zoha', 'CSE')